/*
Main app styles.
*/

.App {
    background-color: rgba(184, 184, 184, 0.5);
    margin: 1%;
    padding: 1%;
}

.Main {
    background-color: rgba(184, 184, 184, 1);
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 2%;
    text-align: center;
}